.board-write {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.board-write-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1em;
}

.input-title {
  width: 100%;
  padding: 15px;
  font-size: 24px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.input-summary {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  height: 200px;
  box-sizing: border-box;
  resize: none;
}

.input-tags {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.label-image {
  font-size: 16px;
  margin-bottom: 5px;
}

.input-image {
  display: block;
  margin-top: 5px;
}

.preview-image {
  margin-top: 10px;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.btn-submit {
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #0056b3;
}
