/* home.css */

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #ffeb60; /* 원하는 배경색으로 변경 */
}

.home-page {
  width: 100%;
  min-height: 100vh;
  background-color: inherit; /* 배경색 상속 */
}

.home-container {
  text-align: center;
  padding: 20px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.image-wrapper {
  position: relative;
  display: inline-block;
  width: 100vw; /* 브라우저의 전체 너비를 차지 */
}

.start-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 10px;
}

.arrow-button {
  background-color: #ccc;
  border: none;
  border-radius: 25%;
  width: 40px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
  outline: none;
}

.circle-button {
  background-color: #ccc;
  border: none;
  border-radius: 25%;
  width: 30px;
  height: 20px;
  cursor: pointer;
  outline: none;
}

.circle-button.active {
  background-color: #333;
}

.side-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.notice-box {
  width: 300px;
  background-color: white;
  border: 10px solid #ccc;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  background-image: url("../img/notice.png");
  background-size: 70% 70%; /* Scale the background image to fit the container */
  background-position: center 10%; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  opacity: 0.7;
  font-size: 3vw;
  flex-direction: column;
  justify-content: end;
}

.use-box {
  width: 300px;
  background-color: white;
  border: 10px solid #ccc;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  background-image: url("../img/ai.jpg");
  background-size: 60% 60%; /* Scale the background image to fit the container */
  background-position: center 20%; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  opacity: 0.7;
  font-size: 3vw;
  flex-direction: column;
  justify-content: end;
}

/* 작은 화면 */
@media (max-width: 1000px) {
  .content {
    flex-direction: column; /* Change flex direction to column for smaller screens */
    align-items: center;
  }

  .notice-box,
  .use-box {
    font-size: 4vw; /* Adjust font size for smaller screens */
  }

  .arrow-button {
    width: 30px;
    height: 15px;
    font-size: 18px;
  }

  .circle-button {
    width: 25px;
    height: 15px;
  }

  .side-content {
    flex-direction: row;
    justify-content: space-around;
    margin-left: 0;
    width: 100%;
    gap: 10px;
  }

  .notice-box,
  .use-box {
    width: 45%;
    height: auto; /* 컨텐츠에 따라 높이 자동 조정 */
  }
}
