/* navbar.css */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-toggler {
  display: none;
}
.navbar-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.nav-item {
  text-align: center;
}

.custom-padding {
  padding-left: 20px;
}

/* 로그아웃 버튼 스타일 */
.logout-button {
  padding: 10px;
  background-color: #93979c !important;
  color: white !important; /* 텍스트 색상 변경 */
  border: none !important; /* 기본 테두리 제거 */
  cursor: pointer;
  margin-right: 20px; /* 우측 마진 추가 */
}

.logout-button:hover {
  background-color: #70767b !important; /* 호버 시 배경색 변경 */
}

/* 사이드바 스타일 */
.sidebar {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #f8f9fa;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  padding-top: 60px; /* Navbar 높이만큼 패딩 추가 */
  z-index: 1000; /* Navbar 위에 표시 */
}

.sidebar.show {
  transform: translateX(0);
}

/* 화면 크기가 768px 이하일 때 */
@media (max-width: 768px) {
  .navbar-center {
    display: none; /* 중앙 메뉴 항목 숨김 */
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-shift {
    margin-left: 250px;
  }

  .sidebar {
    display: block; /* 사이드바 표시 */
  }
}

/* 뒤로가기 버튼 스타일 */
.nav-link.btn {
  color: #fdfdfe;
  text-align: center;
  background-color: #787b7e !important;
  border: none !important;
  padding: 10px;
}

.nav-link.btn:hover {
  text-decoration: underline;
}
