/* 폰트 페이스 정의 */
@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* 기본 폰트 적용 */
body,
.navbar,
.navbar-nav,
.nav-item,
.nav-link {
  font-family: "LINESeedKR-Bd", sans-serif !important;
}

/* 네비게이션 바 스타일 */
.navbar {
  background-color: white !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 60px; /* 네비게이션 바 높이 설정 */
  font-size: calc(
    16px + (100vw - 1000px) / 200
  ); /* 기본 폰트 크기 설정 및 뷰포트 크기에 따라 조정 */
}

body {
  padding-top: 60px; /* 네비게이션 바 높이만큼 패딩 추가 */
}

/* 네비게이션 바 중앙 섹션 스타일 */
.navbar-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

/* 네비게이션 바 오른쪽 섹션 스타일 */
.navbar-right {
  display: flex;
  align-items: center;
}

/* 네비게이션 아이템 스타일 */
.nav-item {
  text-align: center;
}

/* 네비게이션 바 브랜드 스타일 */
.navbar-brand {
  font-size: calc(
    28px + (100vw - 1000px) / 200
  ); /* 기본 폰트 크기 설정 및 뷰포트 크기에 따라 조정 */
}

/* 사용자 정의 패딩 클래스 */
.custom-padding {
  padding-left: 50px;
}

/* 로그아웃 버튼 스타일 */
.logout-button {
  padding: 10px;
  background-color: #93979c !important;
  color: white !important;
  border: none !important;
  cursor: pointer;
  margin-right: 20px;
  font-size: calc(
    16px + (100vw - 1000px) / 200
  ); /* 기본 폰트 크기 설정 및 뷰포트 크기에 따라 조정 */
}

/* 로그아웃 버튼 호버 스타일 */
.logout-button:hover {
  background-color: #70767b !important;
}

/* 사이드바 스타일 */
.sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #f8f9fa;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  padding-top: 60px;
  z-index: 1000;
  font-size: calc(
    16px + (100vw - 1000px) / 200
  ); /* 기본 폰트 크기 설정 및 뷰포트 크기에 따라 조정 */
}

/* 사이드바가 표시될 때 */
.sidebar.show {
  transform: translateX(0);
}

/* 화면 크기가 991px 이하일 때 적용되는 미디어 쿼리 */
@media (max-width: 991px) {
  .navbar-center {
    display: none;
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-shift {
    margin-left: 250px;
  }

  .sidebar {
    display: block;
  }

  .navbar-brand {
    font-size: calc(
      24px + (100vw - 1000px) / 200
    ); /* 작은 화면에서의 폰트 크기 조정 */
  }
}

/* 뒤로가기 버튼 스타일 */
.nav-link.btn {
  color: #fdfdfe;
  text-align: center;
  background-color: #787b7e !important;
  border: none !important;
  padding: 10px;
  font-size: calc(
    16px + (100vw - 1000px) / 200
  ); /* 기본 폰트 크기 설정 및 뷰포트 크기에 따라 조정 */
}

/* 뒤로가기 버튼 호버 스타일 */
.nav-link.btn:hover {
  text-decoration: underline;
}
